extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to detail
  else 
    - let dogcookiesid = toShow._id
    - let dogcookies_type = toShow.cookies_name
    - let dogcookiescost = toShow.cost
    - let dogcookies_for = toShow.cookies_for
    div
        div.row
        div(class='cookiesAttr mr-3') dogcookies ID is:
        div #{dogcookiesid}
        div.row
        div(class='cookiesAttr mr-3') dogcookies Type is:
        div #{dogcookies_type}
        div.row
        div(class='cookiesAttr mr-3') dogcookies are for:
        div #{dogcookies_for}
        div.row
        div(class='cookiesAttr mr-3') dogcookies Cost is:
        div #{dogcookiescost}
